/* media query for mobile view */
@media only screen and (min-width: 320px) and (max-width: 400px) {
  .section1_button1_ctn {
    border: 1px solid #ea5012;
    display: inline-block;
    padding: 9.5px 35.3px 9.5px 30px;
    color: black;
    margin-right: 0px;
    font-size: 14px;
  }
  .section1_button2_ctn {
    font-size: 14px;
    padding: 9.5px 35.3px 9.5px 30px;
  }
  .section1_heading__text_input {
    font-size: 26px;
    font-weight: 600;
    color: black;
    padding-top: 38px;
    line-height: 37px;
  }
  .section_inner_text {
    font-size: 16px;
    color: #626262;
    padding-left: 5px;
    padding-right: 130px;
  }
  .hero_banner p {
    margin-bottom: 15px;
  }
  .resp-tab-active .bg-card-section-3 {
    position: unset;
  }
  .hero-text {
    padding-left: 0px;
    background: linear-gradient(
      90.34deg,
      #ffffff 6.87%,
      rgba(255, 255, 255, 0.536458) 55.47%,
      rgba(255, 255, 255, 0) 60.29%
    );
  }
  /* section 2 media query */
  .section2_whyUK {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  .section2_why-use-UK ul {
    padding-left: 0px;
  }
  .section2_inner_text {
    font-size: 16px;
    color: #626262;
  }
}
/* media query for mobile view */
@media only screen and (min-width: 401px) and (max-width: 500px) {
  .section1_button1_ctn {
    border: 1px solid #ea5012;
    display: inline-block;
    padding: 9.5px 35.3px 9.5px 30px;
    color: black;
    margin-right: 0px;
    font-size: 14px;
  }
  .section1_heading__text_input {
    font-size: 26px;
    font-weight: 600;
    color: black;
    padding-top: 55px;
    line-height: 35px;
    padding-bottom: 20px;
  }
  .section_inner_text {
    font-size: 16px;
    color: #626262;
    padding-left: 5px;
    padding-right: 130px;
  }
  .hero_banner p {
    margin-bottom: 30px;
  }
  .resp-tab-active .bg-card-section-3 {
    position: unset;
  }
  .hero-text {
    padding-left: 0px;
    background: linear-gradient(
      90.34deg,
      #ffffff 6.87%,
      rgba(255, 255, 255, 0.536458) 55.47%,
      rgba(255, 255, 255, 0) 60.29%
    );
  }
}
@media only screen and (min-width: 500px) and (max-width: 576px) {
  .hfTopNav .col-lg-6:nth-child(2) {
    text-align: center;
  }
  .logintoBid_cta {
    display: none;
  }
  .logintoBid_cta_mobile {
    background-color: #a4195c;
    display: block;
    color: white;
    width: 180px;
    height: 45px;
    border: none;
    margin-top: 15px;
  }
  .logintoBid_cta_innertext_mobile {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }
  .Homefinder_logo_imgheader {
    width: 180px;
    height: 50px;
    left: 152px;
  }
  .section_inner_text {
    font-size: 16px;
    color: #626262;
    padding-left: 5px;
    padding-right: 180px;
  }
  .section1_button1_ctn {
    border: 1px solid #ea5012;
    display: inline-block;
    padding: 9.5px 45.3px 9.5px 45px;
    color: black;
    margin-right: 5px;
    font-size: 14px;
  }
  .section1_button2_ctn {
    border: 1px solid #a4195c;
    display: inline-block;
    padding: 9.5px 45.3px 9.5px 45px;
    color: black;
    font-size: 14px;
  }
  .hero-text {
    padding-left: 0px;
    background: linear-gradient(
      90.34deg,
      #ffffff 6.87%,
      rgba(255, 255, 255, 0.536458) 55.47%,
      rgba(255, 255, 255, 0) 60.29%
    );
  }
  .vector_nav_input {
    display: none;
  }
  footer {
    background-color: #a4195c;
    color: white;
    padding: 19px 0px 0px 0px;
    text-align: center;
  }
  .homefinder_logo_white {
    margin-bottom: 0px;
    width: 159px;
  }
  .footer_awosomefont_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
  .fa-fw {
    width: 40px;
    text-align: center;
  }
  .footer_mobile_img_googleplay {
    margin-right: 0px;
    width: 150px;
    height: 50px;
  }
  .footer_mobile_img_playstore {
    width: 124px;
    height: 50px;
  }
  .footer_enqueries_links {
    margin-top: 35px;
  }
  .footer_poweredby_text {
    text-align: center;
  }
  .nav_textsize_graphics {
    display: none;
  }
  .nav_contactus_mobile {
    margin-left: 5px;
  }

  .section1_heading__text_input {
    font-size: 26px;
    font-weight: 600;
    color: black;
    padding-top: 115px;
    padding-bottom: 15px;
    line-height: 40px;
  }
  .hero_banner p {
    margin-bottom: 40px;
  }
  .section1_para_text_input {
    width: 200px;
    font-size: 16px;
    color: #626262;
  }
  .footer_privacy_cookies_text {
    background-color: #962059;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    height: 121px;
    color: #e5e5e5;
  }
  .section3-card-style {
    width: 25rem;
  }
  .resp-tab-active .bg-card-section-3 {
    position: unset;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .resp-tab-active .bg-card-section-3 {
    position: unset;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* media query for mobile view */
