@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: "Roboto";
}

/* nav bar css start */
.hfTopNav .col:nth-child(2) {
  text-align: right;
}
.hfTopNav ul li {
  position: relative;
}
.topnav_border_right {
  padding-right: 10px;
}
.topnav_border_right:before {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  height: 10px;
  width: 1px;
  background: #ddd;
  bottom: 0;
  margin: auto;
}
.nav_contactus_mobile {
  margin-left: 5px;
}
.nav-link {
  color: #242021;
}
.Homefinder_logo_imgheader {
  width: 236px;
  height: 67px;
  left: 152px;
  margin-bottom: 15px;
}
.vector_nav_input {
  padding-left: 50px;
}

nav ul li {
  padding-left: 5px;
  padding-right: 5px;
}
nav ul li:nth-child(3) {
  padding-right: 20px;
}
.logintoBid_cta {
  background-color: #a4195c;
  color: white;
  width: 180px;
  height: 45px;
  border: none;
}
.logintoBid_cta_innertext {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.logintoBid_cta_mobile {
  display: none;
}

/* nav bar css end */

/* footer css start */
footer {
  background-color: #a4195c;
  color: white;
  padding: 35px 0px 0px 0px;
}
.homefinder_logo_white {
  margin-bottom: 39px;
  width: 221.71px;
}
.footer_quick_links {
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 700;
}

footer ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
.footer_mobile_img_googleplay {
  margin-right: 20px;
}
.footer_download_text {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1px;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.border-bottom-mobile-img {
  width: 95%;
  border-bottom: 1px solid #fff;
  margin-top: 50px;
  margin-left: 10px;
}

.footer_enqueries_links li:first-child {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.footer_enqueries_links li:nth-child(2) {
  font-weight: 400;
  margin-top: 10px;
}
.footer_enqueries_links li:nth-child(3) {
  font-weight: 700;
  font-size: 24px;
  margin-top: 10px;
}
.footer_enqueries_links li:nth-child(4) {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.footer_awosomefont_input {
  display: flex;
  align-items: center;
}
.footer_privacy_cookies_text {
  background-color: #962059;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 14px;
  height: 54px;
}
.footer_poweredby_text {
  text-align: right;
}
.footer_poweredby_homeconnection_text {
  color: orange;
}

.footer_privacy_cookies {
  font-size: 14px;
}
/* footer css end */

/* common css start*/

.align_item_center {
  display: flex;
  justify-content: center;
}
.d_none {
  display: none;
}
.section_inner_text {
  font-size: 18px;
  color: #626262;
}

.icon_custom_size {
  font-size: 0.75rem;
}

/* common css end */

/* section 1 css end */
.hero_banner p {
  margin-bottom: 23px;
}
.hero-image {
  height: 592px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.homeSlider {
  position: relative;
  overflow: hidden;
}

.homeSlider img {
  width: 100%;
}

.hero-text {
  padding-left: 50px;
  position: absolute;
  top: 0;
}

.section1_heading__text_input {
  font-size: 50px;
  font-weight: 700;
  color: black;
  padding-top: 190px;
}

.section1_button1_ctn {
  border: 1px solid #ea5012;
  display: inline-block;
  padding: 9.5px 45.3px 9.5px 45px;
  color: black;
  margin-right: 14px;
}
.section1_button2_ctn {
  border: 1px solid #a4195c;
  display: inline-block;
  padding: 9.5px 45.3px 9.5px 45px;
  color: black;
}

/* section 1 css end */

/* section 2 css start */
.section2_whyUK {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 47px;
}
.section2_why-use-UK {
  padding-top: 57px;
  padding-bottom: 29px;
  background-color: #f8f8f8;
}
.section2_why-use-UK ul {
  padding-left: 30px;
}
.section2_why-use-UK ul li {
  line-height: 22px;
}
.read_more_cta {
  border: 1px solid #f29200;
  display: inline-block;
  padding: 10px 56px 10px 56px;
  color: black;
  background-color: #f8f8f8;
  margin-top: 10px;
}
/* section 2 css end */

/* section 3 css start */
.section3_input {
  margin-top: 50px;
  margin-bottom: 129px;
}
.section3_input h5 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  padding-top: 13px;
}

.section3_input .card-text {
  font-size: 16px;
  line-height: 18.75px;
  color: rgba(116, 116, 116, 1);
  font-weight: 400;
  padding-top: 13px;
  padding-bottom: 60px;
}
.section3_social_housing_text {
  font-size: 26px;
  font-weight: 400;
  line-height: 30.47px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(164, 25, 92, 1);
}

.section_font-26 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30.47px;
  color: rgba(64, 64, 64, 1);
}
.see_all_cta {
  width: 478px;
  background-color: rgba(164, 25, 92, 1);
  border: none;
  height: 42px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.findout-more-cta {
  width: 478px;
  background-color: #e5e5e5;
  border: none;
  height: 42px;
  color: rgba(64, 64, 64, 1);
  font-size: 18px;
  font-weight: 400;
}
.see_all_img_border {
  border-radius: 60px 0px 20px 0px;
}
.see_all_cards_img_border {
  border-radius: 10px 0px 10px 0px;
}

/* section3 css end */

/* section 4 css start */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f29200;
  width: 285px;
  height: 45px;
  font-size: 18px;
}

.section4_benefits_of_joining h1 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 30px;
  color: #404040;
}

.local-authorities-cta {
  width: 285px;
  height: 45px;
  font-size: 18px;
  margin-right: 10px;
}

.housing-Assoiciations-cta {
  width: 285px;
  height: 45px;
  font-size: 18px;
  border: 1px solid #ea5012;
  margin-right: 10px;
  color: #484848;
}

.member-Orgranisations-cta {
  width: 285px;
  height: 45px;
  font-size: 18px;
  border: 1px solid #a4195c;
  color: #484848;
}

.section4_benefits_of_joining h2 {
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 400;
  padding-right: 30px;
  padding-left: 55px;
}
.section4_benefits_of_joining p {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  color: #747474;
  padding-right: 30px;
  padding-left: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section4_benefits_of_joining_img {
  margin-top: 20px;
  margin-bottom: 30px;
}
.section4_footer_image {
  margin-top: 58px;
}
/* section 4 css end */

/* section 5 success stories */

.success_stories {
  background: #f5f5f5;
  padding-top: 63px;
}
.success_stories h1 {
  font-size: 40px;
  font-weight: 500;
  color: #404040;
}

.success_stories_p {
  font-size: 16px;
  line-height: 18.75px;
  color: #747474;
  padding-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt-7 {
  margin-top: 7rem !important;
}

.background-image_section5 {
  height: 724px;
  background-image: linear-gradient(
      181.18deg,
      #a4195c -24.07%,
      rgba(211, 70, 138, 0) 112.66%
    ),
    url(../assets/Mask\ Group_1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
}

.success_stories_inner_section {
  position: absolute;
  width: 900px;
  left: -130px;
  top: 110px;
  padding: 50px;
}

.block {
  text-align: center;
  vertical-align: middle;
}
.circle {
  border-radius: 200px;
  height: 200px;
  font-weight: bold;
  width: 200px;
  display: table;
  margin: 20px auto;
}
.circle_first_border_color {
  border: 2px solid #f29200;
}
.circle_first_border_color p {
  color: #f29200;
}
.circle_second_border_color {
  border: 2px solid #ea5012;
}
.circle_second_border_color p {
  color: #ea5012;
}
.circle_third_border_color {
  border: 2px solid #a4195c;
}
.circle_third_border_color p {
  color: #a4195c;
}
.circle_forth_border_color {
  border: 2px solid #404040;
}
.circle_forth_border_color p {
  color: #404040;
}
.circle p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  font-size: 60px;
}
.circle h1 {
  vertical-align: middle;
  display: table-cell;
}

/* media query for mobile view */
@media screen and (max-width: 640px) {
  .logintoBid_cta {
    display: none;
  }
  .logintoBid_cta_mobile {
    background-color: #a4195c;
    display: block;
    color: white;
    width: 180px;
    height: 45px;
    border: none;
    margin-top: 15px;
  }
  .logintoBid_cta_innertext_mobile {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }
  .Homefinder_logo_imgheader {
    width: 180px;
    height: 50px;
    left: 152px;
  }
  .vector_nav_input {
    display: none;
  }
  footer {
    background-color: #a4195c;
    color: white;
    padding: 19px 0px 0px 0px;
    text-align: center;
  }
  .homefinder_logo_white {
    margin-bottom: 0px;
    width: 159px;
  }
  .footer_awosomefont_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
  .fa-fw {
    width: 40px;
    text-align: center;
  }
  .footer_mobile_img_googleplay {
    margin-right: 0px;
    width: 150px;
    height: 50px;
  }
  .footer_mobile_img_playstore {
    width: 124px;
    height: 50px;
  }
  .footer_enqueries_links {
    margin-top: 35px;
  }
  .footer_poweredby_text {
    text-align: center;
  }
  .nav_textsize_graphics {
    display: none;
  }
  .nav_contactus_mobile {
    margin-left: 5px;
  }
  .hero-image {
    height: 395px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .section1_heading__text_input {
    font-size: 26px;
    font-weight: 600;
    color: black;
    padding-top: 65px;
  }
  .section1_para_text_input {
    width: 200px;
    font-size: 16px;
    color: #626262;
  }
  .footer_privacy_cookies_text {
    background-color: #962059;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    height: 121px;
    color: #e5e5e5;
  }
}
