@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: "Roboto";
}

/* nav bar css start */
.hfTopNav .col-lg-6:nth-child(2) {
  text-align: right;
}
.hfTopNav ul li {
  position: relative;
}
.topnav_border_right {
  padding-right: 10px;
}
.topnav_border_right:before {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  height: 10px;
  width: 1px;
  background: #ddd;
  bottom: 0;
  margin: auto;
}
.nav_contactus_mobile {
  margin-left: 5px;
}
.nav-link {
  color: #242021;
}
.Homefinder_logo_imgheader {
  width: 236px;
  height: 67px;
  left: 152px;
  margin-bottom: 15px;
}
.vector_nav_input {
  padding-left: 50px;
}

nav ul li {
  padding-left: 5px;
  padding-right: 5px;
}
nav ul li:nth-child(3) {
  padding-right: 20px;
}
.logintoBid_cta {
  background-color: #a4195c;
  color: white;
  width: 180px;
  height: 45px;
  border: none;
}
.logintoBid_cta_innertext {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.logintoBid_cta_mobile {
  display: none;
}

/* nav bar css end */

/* footer css start */
footer {
  background-color: #a4195c;
  color: white;
  padding: 35px 0px 0px 0px;
}
.homefinder_logo_white {
  margin-bottom: 39px;
  width: 221.71px;
}
.footer_quick_links {
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 700;
}

footer ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
.footer_mobile_img_googleplay {
  margin-right: 20px;
}
.footer_download_text {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1px;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.border-bottom-mobile-img {
  width: 95%;
  border-bottom: 1px solid #fff;
  margin-top: 50px;
  margin-left: 10px;
}

.footer_enqueries_links li:first-child {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.footer_enqueries_links li:nth-child(2) {
  font-weight: 400;
  margin-top: 10px;
}
.footer_enqueries_links li:nth-child(3) {
  font-weight: 700;
  font-size: 24px;
  margin-top: 10px;
}
.footer_enqueries_links li:nth-child(4) {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.footer_awosomefont_input {
  display: flex;
  align-items: center;
}
.footer_privacy_cookies_text {
  background-color: #962059;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 14px;
  height: 54px;
}
.footer_poweredby_text {
  text-align: right;
}
.footer_poweredby_homeconnection_text {
  color: orange;
}

.footer_privacy_cookies {
  font-size: 14px;
}
/* footer css end */

/* common css start*/

.align_item_center {
  display: flex;
  justify-content: center;
}
.d_none {
  display: none;
}
.section_inner_text {
  font-size: 18px;
  color: #626262;
}

.section2_inner_text {
  font-size: 18px;
  color: #626262;
}

.icon_custom_size {
  font-size: 0.75rem;
}

/* common css end */

/* section 1 hero_banner css end */
.hero_banner p {
  margin-bottom: 23px;
}
.hero-image {
  height: 592px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.homeSlider {
  position: relative;
  overflow: hidden;
}

.homeSlider img {
  width: 100%;
}

.hero-text {
  padding-left: 50px;
  position: absolute;
  top: 0;
  width: 500px;
}

.section1_heading__text_input {
  font-size: 50px;
  font-weight: 700;
  color: black;
  padding-top: 165px;
}

.section1_button1_ctn {
  border: 1px solid #ea5012;
  display: inline-block;
  padding: 9.5px 45.3px 9.5px 45px;
  color: black;
  margin-right: 14px;
}
.section1_button2_ctn {
  border: 1px solid #a4195c;
  display: inline-block;
  padding: 9.5px 45.3px 9.5px 45px;
  color: black;
}

/* section 1 hero_banner css end */

/* section 2 Why use Homefinder UK? css start */
.section2_whyUK-heading {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 47px;
}
.section2_why-use-UK {
  padding-top: 57px;
  padding-bottom: 29px;
  background-color: #f8f8f8;
}
.section2_why-use-UK ul {
  padding-left: 30px;
}
.section2_why-use-UK ul li {
  line-height: 22px;
}
.read_more_cta {
  border: 1px solid #f29200;
  display: inline-block;
  padding: 10px 56px 10px 56px;
  color: black;
  background-color: #f8f8f8;
  margin-top: 10px;
}
/* section 2 Why use Homefinder UK? css end */

/* section 3 Social housing outside your area css start */
.section3_input {
  padding-top: 50px;
  margin-bottom: 110px;
}

.section_font-26 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30.47px;
  color: rgba(64, 64, 64, 1);
}

.see_all_img_border {
  border-radius: 60px 0px 20px 0px;
}
.see_all_cards_img_border {
  border-radius: 10px 0px 10px 0px;
}
.section3-card-style {
  width: 30rem;
}
.see_all_right_inactive_border {
  border: 1px solid #d7d7d7;
  padding-bottom: 6px;
  border-radius: 20px 0px 0px 0px;
  border-right-style: none;
}
.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 60% !important;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}
.resp-tabs-list {
  float: left;
  width: 39.9% !important;
}
.resp-tab-active .bg-card-section-3 {
  background: #a4195c;
  position: absolute;
  height: 140px;
  left: 80px;
  top: 12px;
  width: 85%;
  justify-content: center;
  border-top-left-radius: 10px;
  padding-left: 65px;
}
.resp-tab-active div {
  border: none !important;
}

.section3-card-style h5 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  padding-top: 30px;
  color: #404040;
}
.section3-card-style p {
  font-size: 16px;
  line-height: 22px;
  color: rgba(116, 116, 116, 1);
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 85px;
}
.see_all_cta {
  width: 100%;
  background-color: rgba(164, 25, 92, 1);
  border: none;
  height: 42px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.findout-more-cta {
  width: 100%;
  background-color: #e5e5e5;
  border: none;
  height: 42px;
  color: rgba(64, 64, 64, 1);
  font-size: 18px;
  font-weight: 400;
}
.section3-card-right-style {
  font-size: 26px;
  font-weight: 400;
  line-height: 30.47px;
  padding-left: 60px;
  padding-right: 50px;
}

/* section3 Social housing outside your area css end */

/* section 4 Benefits of Joining Homefinder UKcss start */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f29200;
  width: 285px;
  height: 43px;
  font-size: 18px;
}
.mb-5 {
  margin-bottom: 4rem !important;
}
.section4_benefits_of_joining h1 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 30px;
  color: #404040;
}
.nav-pills .nav-link {
  border-radius: 0px;
}
.local-authorities-cta {
  width: 285px;
  height: 45px;
  font-size: 18px;
  margin-right: 10px;
  border: 1px solid #f29200;
}

.housing-Assoiciations-cta {
  width: 285px;
  height: 45px;
  font-size: 18px;
  border: 1px solid #ea5012;
  margin-right: 10px;
  color: #484848;
}

.member-Orgranisations-cta {
  width: 285px;
  height: 45px;
  font-size: 18px;
  border: 1px solid #a4195c;
  color: #484848;
}

.section4_benefits_of_joining h2 {
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 400;
  padding-right: 30px;
  padding-left: 55px;
}
.section4_benefits_of_joining p {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  color: #747474;
  padding-right: 30px;
  padding-left: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section4_benefits_of_joining_img {
  margin-top: 20px;
  margin-bottom: 30px;
}
.section4_footer_image {
  margin-top: 58px;
}

.section4_button1_ctn {
  border: none;
  display: inline-block;
  color: white;
  margin-right: 15px;
  background-color: #545454;
  font-size: 18px;
  line-height: 21.9px;
  font-weight: 400;
  width: 285px;
  height: 45px;
  margin-left: 30px;
}
.section4_button2_ctn {
  border: none;
  display: inline-block;
  color: white;
  margin-right: 5px;
  background-color: #a4195c;
  font-size: 18px;
  line-height: 21.9px;
  font-weight: 400;
  width: 285px;
  height: 45px;
}
/* section 4 Benefits of Joining Homefinder UK css end */

/* section 5 success stories start*/

.success_stories {
  background: #f5f5f5;
  padding-top: 63px;
}
.success_stories_heading {
  font-size: 40px;
  font-weight: 500;
  color: #404040;
}
.success-stories-img {
  max-width: 100%;
  height: auto;
}
.success_stories_p {
  font-size: 16px;
  line-height: 18.75px;
  color: #747474;
  padding-right: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.mt-7 {
  margin-top: 6rem !important;
}
.mb-6 {
  margin-bottom: 2.5rem !important;
}
.success-stories-video {
  width: 570px;
  height: 425px;
}
.rounded-5 {
  border-radius: 0.6rem !important;
}

/* case studies start*/
.background-image_section5 {
  height: 724px;
  background-image: linear-gradient(
      181.18deg,
      #a4195c -24.07%,
      rgba(211, 70, 138, 0) 112.66%
    ),
    url(../assets/Mask\ Group_1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
}

.success_stories_inner_section {
  position: absolute;
  width: 910px;
  left: -280px;
  top: 117px;
  padding-top: 50px;
  padding-right: 146px;
  padding-left: 60px;
  padding-bottom: 45px;
  height: 515px;
}
.case-studies-heading-nav {
  font-size: 40px;
  font-weight: 500;
}
.case-studies-heading {
  font-size: 24px;
  line-height: 28px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.case-studies-para {
  font-size: 18px;
  color: #757575;
  line-height: 21px;
  font-weight: 400;
}
.pt-6 {
  padding-top: 2rem !important;
}
.case-studies_ctn {
  border: none;
  display: inline-block;
  color: white;
  background-color: #ea5012;
  font-size: 18px;
  line-height: 21.9px;
  font-weight: 400;
  width: 285px;
  height: 45px;
  margin-top: 30px;
}
/* case studies end */
/* section 5 success stories end*/

/* section 6 Truth in numvers start*/

.block {
  text-align: center;
  vertical-align: middle;
}
.circle {
  border-radius: 240px;
  height: 235px;
  font-weight: bold;
  width: 235px;
  display: table;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 25px;
  margin-right: 25px;
}
.circle_first_border_color {
  border: 2px solid #f29200;
}
.circle_first_border_color p {
  color: #f29200;
}
.circle_second_border_color {
  border: 2px solid #ea5012;
}
.circle_second_border_color p {
  color: #ea5012;
}
.circle_third_border_color {
  border: 2px solid #a4195c;
}
.circle_third_border_color p {
  color: #a4195c;
}
.circle_forth_border_color {
  border: 2px solid #404040;
}
.circle_forth_border_color p {
  color: #404040;
}
.circle p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 15px;
}
.circle span {
  font-size: 16px;
  color: #404040;
  font-weight: 400;
}
.circle h1 {
  vertical-align: middle;
  display: table-cell;
}
.display-lg-screen {
  display: none;
}
.display-flex-lg-screen {
  display: flex;
}
/* section 6 Truth in numvers end */

/* section7 latest news start*/
.latest-news {
  background-color: #f8f8f8;
  padding-bottom: 50px;
  padding-top: 70px;
}
.latest_news_card {
  width: 400px;
  background-color: #f8f8f8;
  margin-right: 20px;
}
.latest_news_card card-body {
  padding-bottom: 10px;
}
.latest_news_card h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.78px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 20px;
}
.latest_news_card p {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  padding-left: 20px;
  padding-right: 30px;
  text-align: left;
}
.latest-news-heading {
  font-size: 40px;
  color: #404040;
  margin-bottom: 50px;
}
.card-body a {
  color: black;
  text-decoration: none;
}
.view_more_ctn {
  border: none;
  color: white;
  background-color: #ea5012;
  font-size: 18px;
  line-height: 21.9px;
  font-weight: 400;
  width: 285px;
  height: 45px;
  margin-top: 20px;
}
/* section7 latest news end */
/*  section 8 Trusted by start */

.section8-left-body {
  background-color: #404040;
}
.section8-left-body h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}
.section8-left-body h2 {
  color: #ffffff;
  font-size: 144px;
  font-weight: 400;
}
.trusted-by {
  padding-top: 115px;
  padding-left: 120px;
}

.section8-left-body h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}
/*  section 8 Trusted by end*/
/* media query for mobile view */

@media (max-width: 520px) {
  .hfTopNav .col-lg-6:nth-child(2) {
    text-align: center;
  }
  .logintoBid_cta {
    display: none;
  }
  .logintoBid_cta_mobile {
    background-color: #a4195c;
    display: block;
    color: white;
    width: 180px;
    height: 45px;
    border: none;
    margin-top: 15px;
  }
  .logintoBid_cta_innertext_mobile {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }
  .Homefinder_logo_imgheader {
    width: 180px;
    height: 50px;
    left: 152px;
  }
  .section_inner_text {
    font-size: 16px;
    color: #626262;
    padding-left: 5px;
    padding-right: 180px;
  }
  .section1_button1_ctn {
    border: 1px solid #ea5012;
    display: inline-block;
    padding: 9.5px 45.3px 9.5px 45px;
    color: black;
    margin-right: 5px;
    font-size: 14px;
  }
  .section1_button2_ctn {
    border: 1px solid #a4195c;
    display: inline-block;
    padding: 9.5px 45.3px 9.5px 45px;
    color: black;
    font-size: 14px;
  }
  .hero-text {
    padding-left: 0px;
    background: linear-gradient(
      90.34deg,
      #ffffff 6.87%,
      rgba(255, 255, 255, 0.536458) 55.47%,
      rgba(255, 255, 255, 0) 60.29%
    );
    width: 400px;
  }
  .vector_nav_input {
    display: none;
  }
  footer {
    background-color: #a4195c;
    color: white;
    padding: 19px 0px 0px 0px;
    text-align: center;
  }
  .homefinder_logo_white {
    margin-bottom: 0px;
    width: 159px;
  }
  .footer_awosomefont_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
  .fa-fw {
    width: 40px;
    text-align: center;
  }
  .footer_mobile_img_googleplay {
    margin-right: 0px;
    width: 150px;
    height: 50px;
  }
  .footer_mobile_img_playstore {
    width: 124px;
    height: 50px;
  }
  .footer_enqueries_links {
    margin-top: 35px;
  }
  .footer_poweredby_text {
    text-align: center;
  }
  .nav_textsize_graphics {
    display: none;
  }
  .nav_contactus_mobile {
    margin-left: 5px;
  }

  .section1_heading__text_input {
    font-size: 26px;
    font-weight: 600;
    color: black;
    padding-top: 115px;
    padding-bottom: 15px;
    line-height: 40px;
  }
  .hero_banner p {
    margin-bottom: 40px;
  }
  .section1_para_text_input {
    width: 200px;
    font-size: 16px;
    color: #626262;
  }
  .footer_privacy_cookies_text {
    background-color: #962059;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    height: 121px;
    color: #e5e5e5;
  }
  /* section 2 why use uk media */
  .section2_whyUK-heading {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    line-height: 28px;
    color: #242021;
  }
  .section2_why-use-UK {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #f9f9fa;
  }
  .section2_inner_text {
    font-size: 16px;
    color: #868585;
    font-weight: 400;
  }

  /* section 3 social housing outside */
  .section3-card-style {
    width: 25rem;
  }
  .section3_input {
    padding-top: 27px;
    margin-bottom: 10px;
  }
  .resp-tab-active .bg-card-section-3 {
    position: unset;
  }
  .resp-tab-active .section3-card-right-style:before {
    content: "";
    position: absolute;
    right: 20px;
    background: url(../assets/Group\ 104.png);
    width: 15px;
    height: 25px;
    background-repeat: no-repeat;
    margin-top: 2px;
  }

  .section3-card-right-style:before {
    content: "";
    position: absolute;
    background: url(../assets/minus.png);
    width: 19px;
    height: 10px;
    background-repeat: no-repeat;
    right: 40px;
    margin-top: 7px;
  }
  .section3-card-right-style {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 80px;
    padding-top: 8px;
  }
  .see_all_cards_img_border {
    border-radius: 15px 0px 10px 0px;
    width: 12%;
    padding-top: 0px;
    position: absolute;
    padding-left: 5px;
  }
  .resp-tab-active .bg-card-section-3 {
    background: #a4195c;
    position: relative;
    height: 60px;
    left: 40px;
    top: -10px;
    width: 91%;
    justify-content: center;
    border-radius: 12px 0px 12px 0px;
    color: white !important;
    padding-left: 0px;
    padding-bottom: 5px;
  }
  .resp-tab-active div {
    border: none !important;
  }
  .resp-tabs-container {
    width: 100% !important;
  }
  .section3-card-style h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 30px;
    color: #404040;
  }
  .section3-card-style p {
    font-size: 16px;
    line-height: 19px;
    color: #747474;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 27px;
  }
  .see_all_cta {
    width: 100%;
    background-color: rgba(164, 25, 92, 1);
    border: none;
    height: 32px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }
  .findout-more-cta {
    width: 100%;
    background-color: #e5e5e5;
    border: none;
    height: 32px;
    color: rgba(64, 64, 64, 1);
    font-size: 14px;
    font-weight: 400;
  }
  .see_all_right_inactive_border {
    border: 1px solid #d7d7d7;
    padding-bottom: 25px;
    border-radius: 20px 0px 25px 0px;
  }
  /* section 4 benifits of joining UK */
  .section4_benefits_of_joining h1 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
    color: #242021;
    line-height: 28px;
  }
  /* success stories */
  .success_stories {
    background: #f5f5f5;
    padding-top: 0px;
  }
  .success-stories-img {
    max-width: 12%;
    height: auto;
    position: absolute;
  }

  .success_stories_heading {
    font-size: 24px;
    font-weight: 500;
    color: #404040;
    line-height: 28px;
    padding-top: 25px;
    margin-bottom: 20px;
    left: -25px;
    position: relative;
  }
  .truth_in_numbers_section {
    width: 100%;
  }
  .scroller {
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
  }
  .containerr {
    position: relative; /*important for the .position() method */
    height: 100px;
    width: 770px;
  }

  .mt-7 {
    margin-top: 2rem !important;
  }
  .mb-6 {
    margin-bottom: 2rem !important;
  }
  /* case studies css */
  .background-image_section5 {
    height: 289px;
    background-image: linear-gradient(
        181.18deg,
        #a4195c -24.07%,
        rgba(211, 70, 138, 0) 112.66%
      ),
      url(../assets/Mask\ Group-mb.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 300px;
    border-radius: 0px;
  }
  .success_stories_inner_section {
    position: absolute;
    width: 444px;
    left: 63px;
    top: -190px;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 15px;
    padding-bottom: 45px;
    background: white;
  }

  .case-studies-heading-nav {
    font-size: 24px;
    font-weight: 500;
    padding-left: 16px;
  }
  .case-studies-heading {
    font-size: 18px;
    line-height: 21px;
    padding-top: 16px;
    padding-bottom: 13px;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 120px;
    color: #000000;
  }
  .case-studies_ctn {
    border: none;
    display: inline-block;
    color: white;
    background-color: #ea5012;
    font-size: 18px;
    line-height: 21.9px;
    font-weight: 400;
    width: 247px;
    height: 40px;
    margin-top: 30px;
    margin-right: 125px;
  }
  .pt-6 {
    padding-top: 0rem !important;
  }
  .case-studies-para {
    font-size: 18px;
    color: #757575;
    line-height: 21px;
    font-weight: 400;
    padding-left: 19px;
    padding-right: 125px;
  }
  /* truth in numbers */

  .truth-in-numbers-heading {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .circle {
    border-radius: 130px;
    height: 220px;
    font-weight: bold;
    width: 220px;
    display: table;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 10px;
  }
  .circle p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .circle span {
    font-size: 16px;
    color: #404040;
    font-weight: 400;
  }
  .display-lg-screen {
    display: flex;
  }
  .display-flex-lg-screen {
    display: none;
  }
  /* latest news */
  .latest-news-heading {
    font-size: 24px;
    color: #000000;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 28px;
  }
  .latest-news {
    background-color: #f8f8f8;
    padding-bottom: 45px;
    padding-top: 25px;
  }
  .latest_news_card h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .latest-news .scroller {
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
  }
  .latest_news_card {
    width: 400px;
    background-color: #f8f8f8;
    margin-right: 20px;
  }
  /* .latest-news .containerr {
    position: relative;
    height: 100px;
    width: 1000px;
  }  */
  /* truested by */
  .section8-left-body h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  } /* trusted by */
  .trusted-by {
    padding-top: 25px;
    padding-left: 25px;
  }
}

/* media query for mobile view */
